.navy-900{
    color: #0A192F;
}

.navy-900-bg{
    background-color: #0A192F;
}

body {
    background-color: #112240;
}

.navy-600{
    color: #112240;
}

.navy-600-bg{
    background-color: #112240;
}

.navy-200{
    color: #233554;
}

.navy-200-bg{
    background-color: #233554;
}

.slate-900{
    color: #8892B0;
}

.slate-900-bg{
    background-color: #8892B0;
}

.slate-600{
    color: #A8B2D1;
}

.slate-600-bg{
    background-color: #A8B2D1;
}

.slate-200{
    color: #A8B2D1;
}

.slate-200-bg{
    background-color: #CCD6F6;
}

.white-blue{
    color: #E6F1FF;
}

.white-blue-bg{
    background-color: #E6F1FF;
}

.green-500{
    color: #64FFDA;
}

.green-500-bg{
    background-color: #64FFDA;
}